:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  width: 95%;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 130px;
  line-height: 1.1;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 13px;
  padding: 0px 10px;
  letter-spacing: -0.5px;
  /* border-top: 1px solid #333;
  border-bottom: 1px solid #333; */
}

h2 {
  margin-top: 8px;
  font-weight: 400;
  color: #888;
  padding: 0px 10px;
  font-size: 20px;
}
